version: '3.8'

services:
  ai_service:
    build: ./ai_service
    container_name: ai_service
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3000:3000"
    environment:
      - OLLAMA_HOST=host.docker.internal:11434
    restart: unless-stopped

  tg-bot:
    build: ./Tg_bot
    container_name: tg-bot
    restart: unless-stopped
    depends_on:
      - ai_service