version: '3.8'

services:
  ai_service:
    build: ./ai_service
    container_name: ai_service
    network_mode: "host"  # Используем сеть хоста
    environment:
      - OLLAMA_HOST=localhost:11434  # Теперь localhost указывает на хост
    restart: unless-stopped
    ports:
      - "3000:3000"

  tg-bot:
    build: ./Tg_bot
    container_name: tg-bot
    network_mode: "host"  # tg-bot тоже в сети хоста
    environment:
      - BOT_TOKEN="Your_bot_token"
    restart: unless-stopped
    depends_on:
      - ai_service