version: '3.8'

services:
  ai_model:
    build: ./ai_model
    container_name: ai_model
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
      - OLLAMA_MODEL=llama3:8b
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped

  ai_service:
    build: ./ai_service
    container_name: ai_service
    ports:
      - "3000:3000"
    environment:
      - OLLAMA_BASE_URL=http://ai_model:11434
      - OLLAMA_MODEL=llama3:8b
    depends_on:
      - ai_model
    restart: unless-stopped

  tg-bot:
    build: ./Tg_bot
    container_name: tg-bot
    environment:
      - BOT_TOKEN=8589682394:AAEuowHVBZCZykDpVDhmvNbv0wLeQusl91I
    depends_on:
      - ai_service
    restart: unless-stopped

volumes:
  ollama_data: